@model IEnumerable<Crud_by_Entityframwork.Models.tblContactDetail>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-12" style="padding-top:150px">
        <center> <h3>Contact List for Evolent Health</h3><hr /></center>
        <div class="col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <table class="table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>InActive</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var I in Model)
                    {
                        var Users = "";

                        if (@I.IsActive == true)
                        {
                            Users = "Active User";
                        }
                        else
                        {
                            Users = "Inactive User";
                        }
                        <tr>
                            <td>@I.Personid</td>
                            <td>@I.FirstName</td>
                            <td>@I.LastName</td>
                            <td>@I.PhoneNumber</td>
                            <td>@I.Email</td>
                            <td>@Users</td>
                            <td>@Html.ActionLink("Edit", "EditForm", new { @id = I.Personid })</td>
                            @if (@I.IsActive == true)
                            {
                                <td>@Html.ActionLink("Inactive", "InactiveEmp", new { @id = I.Personid })</td>
                            }
                            else
                            {
                                <td>-</td>
                            }

                        </tr>

                    }
                    <tr>
                        <td colspan="6">  @Html.ActionLink("New Registration", "RegistrationForm")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>

    </div>

</body>
</html>
